/* ===== NAVBAR ===== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a;
  padding: 12px 30px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #facc15;
}

.history-container {
  padding: 40px;
  text-align: center;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.history-table th {
  background-color: #1e3a8a;
  color: white;
}

.history-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.empty {
  margin-top: 30px;
  font-size: 18px;
  color: gray;
}
.download-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
