<!-- Navbar -->
<nav class="navbar">

  <div class="logo">
    🚆 Train Reallocation System
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/history">History</a></li>
    <li><a routerLink="/pnr-search">PNR Status</a></li>
    <li><a routerLink="/admin-login">TT Panel</a></li>
    <li><a routerLink="/help-desk">Help Desk</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>

</nav>
<div class="history-container">

  <h2>📜 Booking History</h2>

  <table *ngIf="history.length > 0" class="history-table">
  <thead>
    <tr>
      <th>Train Name</th>
      <th>Train No</th>
      <th>Status</th>
      <th>Booking Date</th>
      <th>Booking Time</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let booking of history">

      <td>{{ booking.TrainName }}</td>
      <td>{{ booking.TrainNo }}</td>
      <td>{{ booking.seat_status }}</td>
      <td>
        {{ booking.booking_date }}
      </td>

      <td>
        {{ booking.booking_time}}
      </td>

      <td>
        <button
          class="download-btn"
          (click)="downloadTicket(booking.PNR)">
          🎟 Download
        </button>

        <button
          class="cancel-btn"
          (click)="cancelBooking(booking.PNR)">
          ❌ Cancel
        </button>
      </td>

    </tr>
  </tbody>
</table>

  <div *ngIf="history.length === 0" class="empty">
    🚆 No bookings yet
  </div>

</div>